@keyframes moveInLeft {
  /* initial state */
  0% {
    opacity: 0%;
    transform: translateX(-10rem);
  }
  /* intermidiate position */
  80% {
    transform: translateX(1rem);
  }
  /* final state */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  /* initial state */
  0% {
    opacity: 0%;
    transform: translateX(10rem);
  }
  /* intermidiate position */
  80% {
    transform: translateX(-1rem);
  }
  /* final state */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInButton {
  /* initial state */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
